{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Homepage{% endblock %}
{% block content %}
    <div class="container mt-5 mb-5">
        <div class="text-center mt-3 mb-3">
            <h1>Advertisement</h1>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="row row-cols-1 row-cols-md-3">
                    {% if paginator.results|length > 0 %}
                    {% for productOffer in paginator.results %}
                    <div class="mb-4">
                        <div class="card shadow bg-white rounded">
                            <img src="http://via.placeholder.com/750x300" class="card-img-top" alt="{{ productOffer.title }}">
                            <div class="card-body">
                                <h5 class="card-title">Title: {{ productOffer.title }}</h5>
                                <p class="card-text">Description: {{ productOffer.description }}</p>
                                <p class="card-text">Price: {{ productOffer.price }}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary float-left" href="{{ path('view_product_offer', { id: productOffer.id}) }}" role="button">visit</a>
                                <small class="text-muted pl-5 mt-5">created at {{ productOffer.createdAt |format_datetime('medium', 'short') }} </small>
                            </div>
                        </div>
                    </div>
                    {% else %}
                </div>
            </div>
        </div>
        <div class="p-3 mb-2 bg-light text-black text-center">
            <h1>There is no offer on the portal yet.</h1>
        </div>
        {% endfor %}

        {% include('partial/pagination.html.twig') %}

        {% endif %}
    </div>
{% endblock %}