{% extends 'base.html.twig' %}
{% block title %}My products{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>My product offers</h4>
                </div>
                <div class="card-body">
                    {% if paginator.results|length > 0 %}
                    <div class="table-responsive" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="pl-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="allSelectCheckbox">
                                        <label class="custom-control-label" for="allSelectCheckbox">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Enabled</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for productOffer in paginator.results %}
                            <tr>
                                <td class="pl-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="{{ productOffer.id }}">
                                        <label class="custom-control-label" for="{{ productOffer.id }}">&nbsp;</label>
                                    </div>
                                </td>
                                <td>{{ productOffer.id }}</td>
                                <td>{{ productOffer.title }}</td>
                                <td>{{ productOffer.price }}</td>
                                <td>{{ productOffer.enabled }}</td>
                                <td>{{ productOffer.status|json_encode|trim('"') }}</td>
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            {% else %}
                                <div class="p-3 mb-2 bg-light text-black text-center">
                                    <h1>You don't have any products offers.</h1>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include('partial/pagination.html.twig') %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}