{% extends 'base.html.twig' %}
{% block title %}My account{% endblock %}
{% block content %}

<div class="container-xl px-4 mt-4">
    {% include('user/nav.html.twig') %}
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" src="" alt="" style="height: 10rem;">
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body changeUserData">
                    {{ form_start(customerInformationForm, enctype='multipart/form-data', {"attr": {"novalidate": "novalidate"}} ) }}
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                {{ form_row(customerInformationForm.firstName) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(customerInformationForm.lastName) }}
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                {{ form_row(customerInformationForm.city) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(customerInformationForm.address) }}
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                {{ form_row(customerInformationForm.phoneNumber) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(customerInformationForm.birthday) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(customerInformationForm.zipCode) }}
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary accountDetails">
                            <i class="fa fa-save" aria-hidden="true"></i> Edit profile
                        </button>
                    {{ form_end(customerInformationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}